$color_link: #EEEEEE
$color_background: #4C0013
$color_dark: #000000
//https://codepen.io/nrninsane/pen/wvBayjP

body
  display: flex
  flex-direction: column
  min-height: 100vh
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif

.navigation
  margin: 0 auto
  font-size: 14px
  background-color: $color_background
  width: 100%
  &__list
    margin: 0
    padding: 0
    display: flex
    justify-content: center
    align-items: flex-start
  &__element
    list-style: none
    position: relative
  &__link
    display: block
    padding: 1em 2em
    text-decoration: none
    color: $color_link
    box-shadow: inset 0 0 0 0 rgba($color_link, 0)
    transition: box-shadow .3s linear, color .3s linear
    &:hover
      box-shadow: inset 0 -50px 0 0 rgba($color_link, 1)
      color: $color_background
  &__submenu
    position: absolute
    left: 50%
    transform: translateX(-50%) scaleY(0)
    transform-origin: top center
    transition: transform .3s linear
    z-index: 2
    margin: 0
    padding: 0
    width: 200px
    background-color: $color_link
    font-size: 14px
    display: flex
    flex-direction: column
    &-element
      list-style: none
    &-link
      display: block
      text-align: left
      text-decoration: none
      color: $color_background
      padding: 1em 2em
      background-color: transparent
      transition: background-color .1s linear
      &:hover
        background-color: rgba($color_dark, .3)
  &__element
    box-shadow: inset 0 0 0 0 rgba($color_link, 0)
    transition: box-shadow .3s linear, color .3s linear
    &:hover
      box-shadow: inset 0 -50px 0 0 rgba($color_link, 1)
      color: $color_background
      .navigation__link
        color: $color_background
      .navigation__submenu
        transform: translateX(-50%) scaleY(1)

.main
  flex-grow: 1
  display: flex
  flex-direction: column

.footer
  margin: 0 auto
  font-size: 14px
  background-color: $color_background
  width: 100%
  &__list
    margin: 0
    display: flex
    justify-content: center
    align-items: flex-start
  &__element
    list-style: none
    position: relative
  &__link
    display: block
    padding: 1em 2em
    text-decoration: none
    color: $color_link
    box-shadow: inset 0 0 0 0 rgba($color_link, 0)
    transition: box-shadow .3s linear, color .3s linear
    &:hover
      box-shadow: inset 0 -50px 0 0 rgba($color_link, 1)
      color: $color_background

.snow-app
  height: 100vh
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%)
  //overflow: hidden;
  filter: drop-shadow(0 0 10px white)

@function random_range($min, $max)
  $rand: random()
  $random_range: $min + floor($rand * (($max - $min) + 1))
  @return $random_range

.snow
  $total: 200
  position: absolute
  width: 10px
  height: 10px
  background: white
  border-radius: 50%

  @for $i from 1 through $total
    $random-x: random(1000000) * 0.0001vw
    $random-offset: random_range(-100000, 100000) * 0.0001vw
    $random-x-end: $random-x + $random-offset
    $random-x-end-yoyo: $random-x + ($random-offset / 2)
    $random-yoyo-time: random_range(30000, 80000) / 100000
    $random-yoyo-y: $random-yoyo-time * 100vh
    $random-scale: random(10000) * 0.0001
    $fall-duration: random_range(10, 30) * 1s
    $fall-delay: random(30) * -1s

    &:nth-child(#{$i})
      opacity: random(10000) * 0.0001
      transform: translate($random-x, -10px) scale($random-scale)
      animation: fall-#{$i} $fall-duration $fall-delay linear infinite

    @keyframes fall-#{$i}
      #{percentage($random-yoyo-time)}
        transform: translate($random-x-end, $random-yoyo-y) scale($random-scale)
      to
        transform: translate($random-x-end-yoyo, 100vh) scale($random-scale)