extends boilerplate

block body 

  block header

    nav.navigation
      ul.navigation__list
        each item in navigation
          li.navigation__element
            a(href=item.link, class='navigation__link--'+item.id).navigation__link=item.title
            ul.navigation__submenu
              each item_sub in item.sub
                li.navigation__submenu-element
                  a(href=item_sub.link).navigation__submenu-link=item_sub.title
             
  main.main 
    block main
      h1 This main content should be replaced.
      p check the pug-file which extends layout.pug;
      | 'block main' should be target for replacement. 

  footer.footer
    block footer
      ul.footer__list
        each item in footer
          li.footer__element.footer__link #{item.valueOf()}


//-
  footer should contain:
  Contact Information
  Copyright Notice
  Call to Action
  Graphic Elements
  Opt-in form
  Sitemap
  Privacy Policy
  Terms of Use
  Address and Link to Map
  Phone and Fax numbers
  Internal Navigation
  Social Media Widgets
  Membership Login
  Site Search Tool
  Mini Gallery
  Branding
  Awards and Certifications Association Memberships
  Testimonials
  Latest Articles
  Upcoming Events
