body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif; }

.navigation {
  margin: 0 auto;
  font-size: 14px;
  background-color: #4C0013;
  width: 100%; }
  .navigation__list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; }
  .navigation__element {
    list-style: none;
    position: relative; }
  .navigation__link {
    display: block;
    padding: 1em 2em;
    text-decoration: none;
    color: #EEEEEE;
    box-shadow: inset 0 0 0 0 rgba(238, 238, 238, 0);
    transition: box-shadow .3s linear, color .3s linear; }
    .navigation__link:hover {
      box-shadow: inset 0 -50px 0 0 #eeeeee;
      color: #4C0013; }
  .navigation__submenu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(0);
    transform-origin: top center;
    transition: transform .3s linear;
    z-index: 2;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #EEEEEE;
    font-size: 14px;
    display: flex;
    flex-direction: column; }
    .navigation__submenu-element {
      list-style: none; }
    .navigation__submenu-link {
      display: block;
      text-align: left;
      text-decoration: none;
      color: #4C0013;
      padding: 1em 2em;
      background-color: transparent;
      transition: background-color .1s linear; }
      .navigation__submenu-link:hover {
        background-color: rgba(0, 0, 0, 0.3); }
  .navigation__element {
    box-shadow: inset 0 0 0 0 rgba(238, 238, 238, 0);
    transition: box-shadow .3s linear, color .3s linear; }
    .navigation__element:hover {
      box-shadow: inset 0 -50px 0 0 #eeeeee;
      color: #4C0013; }
      .navigation__element:hover .navigation__link {
        color: #4C0013; }
      .navigation__element:hover .navigation__submenu {
        transform: translateX(-50%) scaleY(1); }

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column; }

.footer {
  margin: 0 auto;
  font-size: 14px;
  background-color: #4C0013;
  width: 100%; }
  .footer__list {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; }
  .footer__element {
    list-style: none;
    position: relative; }
  .footer__link {
    display: block;
    padding: 1em 2em;
    text-decoration: none;
    color: #EEEEEE;
    box-shadow: inset 0 0 0 0 rgba(238, 238, 238, 0);
    transition: box-shadow .3s linear, color .3s linear; }
    .footer__link:hover {
      box-shadow: inset 0 -50px 0 0 #eeeeee;
      color: #4C0013; }

.snow-app {
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  filter: drop-shadow(0 0 10px white); }

.snow {
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%; }
  .snow:nth-child(1) {
    opacity: 0.9758;
    transform: translate(72.0984vw, -10px) scale(0.8867);
    animation: fall-1 30s -14s linear infinite; }

@keyframes fall-1 {
  79.854% {
    transform: translate(78.6804vw, 79.854vh) scale(0.8867); }
  to {
    transform: translate(75.3894vw, 100vh) scale(0.8867); } }
  .snow:nth-child(2) {
    opacity: 0.045;
    transform: translate(77.7735vw, -10px) scale(0.9054);
    animation: fall-2 19s -17s linear infinite; }

@keyframes fall-2 {
  60.686% {
    transform: translate(76.9275vw, 60.686vh) scale(0.9054); }
  to {
    transform: translate(77.3505vw, 100vh) scale(0.9054); } }
  .snow:nth-child(3) {
    opacity: 0.5047;
    transform: translate(89.6272vw, -10px) scale(0.8976);
    animation: fall-3 28s -4s linear infinite; }

@keyframes fall-3 {
  65.582% {
    transform: translate(90.5143vw, 65.582vh) scale(0.8976); }
  to {
    transform: translate(90.07075vw, 100vh) scale(0.8976); } }
  .snow:nth-child(4) {
    opacity: 0.0029;
    transform: translate(37.4152vw, -10px) scale(0.1406);
    animation: fall-4 23s -23s linear infinite; }

@keyframes fall-4 {
  67.999% {
    transform: translate(33.935vw, 67.999vh) scale(0.1406); }
  to {
    transform: translate(35.6751vw, 100vh) scale(0.1406); } }
  .snow:nth-child(5) {
    opacity: 0.1168;
    transform: translate(45.0808vw, -10px) scale(0.6267);
    animation: fall-5 15s -3s linear infinite; }

@keyframes fall-5 {
  61.409% {
    transform: translate(38.7166vw, 61.409vh) scale(0.6267); }
  to {
    transform: translate(41.8987vw, 100vh) scale(0.6267); } }
  .snow:nth-child(6) {
    opacity: 0.2221;
    transform: translate(63.7754vw, -10px) scale(0.3102);
    animation: fall-6 28s -15s linear infinite; }

@keyframes fall-6 {
  54.93% {
    transform: translate(60.6547vw, 54.93vh) scale(0.3102); }
  to {
    transform: translate(62.21505vw, 100vh) scale(0.3102); } }
  .snow:nth-child(7) {
    opacity: 0.3845;
    transform: translate(60.6252vw, -10px) scale(0.0052);
    animation: fall-7 18s -7s linear infinite; }

@keyframes fall-7 {
  59.027% {
    transform: translate(61.1877vw, 59.027vh) scale(0.0052); }
  to {
    transform: translate(60.90645vw, 100vh) scale(0.0052); } }
  .snow:nth-child(8) {
    opacity: 0.1701;
    transform: translate(71.6799vw, -10px) scale(0.2964);
    animation: fall-8 24s -16s linear infinite; }

@keyframes fall-8 {
  64.999% {
    transform: translate(73.3013vw, 64.999vh) scale(0.2964); }
  to {
    transform: translate(72.4906vw, 100vh) scale(0.2964); } }
  .snow:nth-child(9) {
    opacity: 0.7859;
    transform: translate(68.1707vw, -10px) scale(0.3983);
    animation: fall-9 13s -10s linear infinite; }

@keyframes fall-9 {
  62.045% {
    transform: translate(63.0758vw, 62.045vh) scale(0.3983); }
  to {
    transform: translate(65.62325vw, 100vh) scale(0.3983); } }
  .snow:nth-child(10) {
    opacity: 0.3478;
    transform: translate(19.1229vw, -10px) scale(0.207);
    animation: fall-10 26s -27s linear infinite; }

@keyframes fall-10 {
  63.518% {
    transform: translate(10.4183vw, 63.518vh) scale(0.207); }
  to {
    transform: translate(14.7706vw, 100vh) scale(0.207); } }
  .snow:nth-child(11) {
    opacity: 0.517;
    transform: translate(82.4391vw, -10px) scale(0.2982);
    animation: fall-11 28s -16s linear infinite; }

@keyframes fall-11 {
  35.683% {
    transform: translate(87.6052vw, 35.683vh) scale(0.2982); }
  to {
    transform: translate(85.02215vw, 100vh) scale(0.2982); } }
  .snow:nth-child(12) {
    opacity: 0.9537;
    transform: translate(34.371vw, -10px) scale(0.062);
    animation: fall-12 20s -30s linear infinite; }

@keyframes fall-12 {
  60.108% {
    transform: translate(31.1217vw, 60.108vh) scale(0.062); }
  to {
    transform: translate(32.74635vw, 100vh) scale(0.062); } }
  .snow:nth-child(13) {
    opacity: 0.3644;
    transform: translate(14.9168vw, -10px) scale(0.8208);
    animation: fall-13 28s -11s linear infinite; }

@keyframes fall-13 {
  71.365% {
    transform: translate(21.5506vw, 71.365vh) scale(0.8208); }
  to {
    transform: translate(18.2337vw, 100vh) scale(0.8208); } }
  .snow:nth-child(14) {
    opacity: 0.7482;
    transform: translate(77.3985vw, -10px) scale(0.9499);
    animation: fall-14 13s -27s linear infinite; }

@keyframes fall-14 {
  45.874% {
    transform: translate(73.4457vw, 45.874vh) scale(0.9499); }
  to {
    transform: translate(75.4221vw, 100vh) scale(0.9499); } }
  .snow:nth-child(15) {
    opacity: 0.947;
    transform: translate(55.4907vw, -10px) scale(0.3317);
    animation: fall-15 24s -13s linear infinite; }

@keyframes fall-15 {
  64.122% {
    transform: translate(51.5915vw, 64.122vh) scale(0.3317); }
  to {
    transform: translate(53.5411vw, 100vh) scale(0.3317); } }
  .snow:nth-child(16) {
    opacity: 0.2791;
    transform: translate(31.1542vw, -10px) scale(0.8289);
    animation: fall-16 10s -28s linear infinite; }

@keyframes fall-16 {
  63.936% {
    transform: translate(23.8235vw, 63.936vh) scale(0.8289); }
  to {
    transform: translate(27.48885vw, 100vh) scale(0.8289); } }
  .snow:nth-child(17) {
    opacity: 0.9844;
    transform: translate(2.3262vw, -10px) scale(0.6517);
    animation: fall-17 28s -7s linear infinite; }

@keyframes fall-17 {
  71.786% {
    transform: translate(-1.5679vw, 71.786vh) scale(0.6517); }
  to {
    transform: translate(0.37915vw, 100vh) scale(0.6517); } }
  .snow:nth-child(18) {
    opacity: 0.8764;
    transform: translate(22.1913vw, -10px) scale(0.1008);
    animation: fall-18 17s -10s linear infinite; }

@keyframes fall-18 {
  56.831% {
    transform: translate(25.2737vw, 56.831vh) scale(0.1008); }
  to {
    transform: translate(23.7325vw, 100vh) scale(0.1008); } }
  .snow:nth-child(19) {
    opacity: 0.1192;
    transform: translate(19.0393vw, -10px) scale(0.2083);
    animation: fall-19 28s -20s linear infinite; }

@keyframes fall-19 {
  41.127% {
    transform: translate(27.6705vw, 41.127vh) scale(0.2083); }
  to {
    transform: translate(23.3549vw, 100vh) scale(0.2083); } }
  .snow:nth-child(20) {
    opacity: 0.425;
    transform: translate(64.9964vw, -10px) scale(0.9008);
    animation: fall-20 11s -9s linear infinite; }

@keyframes fall-20 {
  75.656% {
    transform: translate(60.7495vw, 75.656vh) scale(0.9008); }
  to {
    transform: translate(62.87295vw, 100vh) scale(0.9008); } }
  .snow:nth-child(21) {
    opacity: 0.4358;
    transform: translate(61.7874vw, -10px) scale(0.9714);
    animation: fall-21 20s -24s linear infinite; }

@keyframes fall-21 {
  30.085% {
    transform: translate(60.9818vw, 30.085vh) scale(0.9714); }
  to {
    transform: translate(61.3846vw, 100vh) scale(0.9714); } }
  .snow:nth-child(22) {
    opacity: 0.5963;
    transform: translate(33.1725vw, -10px) scale(0.4034);
    animation: fall-22 17s -13s linear infinite; }

@keyframes fall-22 {
  58.653% {
    transform: translate(38.7222vw, 58.653vh) scale(0.4034); }
  to {
    transform: translate(35.94735vw, 100vh) scale(0.4034); } }
  .snow:nth-child(23) {
    opacity: 0.1434;
    transform: translate(32.5398vw, -10px) scale(0.5195);
    animation: fall-23 19s -11s linear infinite; }

@keyframes fall-23 {
  32.331% {
    transform: translate(41.5087vw, 32.331vh) scale(0.5195); }
  to {
    transform: translate(37.02425vw, 100vh) scale(0.5195); } }
  .snow:nth-child(24) {
    opacity: 0.0559;
    transform: translate(10.4294vw, -10px) scale(0.9602);
    animation: fall-24 29s -14s linear infinite; }

@keyframes fall-24 {
  40.596% {
    transform: translate(17.3233vw, 40.596vh) scale(0.9602); }
  to {
    transform: translate(13.87635vw, 100vh) scale(0.9602); } }
  .snow:nth-child(25) {
    opacity: 0.9083;
    transform: translate(77.3397vw, -10px) scale(0.9519);
    animation: fall-25 13s -30s linear infinite; }

@keyframes fall-25 {
  70.702% {
    transform: translate(69.2617vw, 70.702vh) scale(0.9519); }
  to {
    transform: translate(73.3007vw, 100vh) scale(0.9519); } }
  .snow:nth-child(26) {
    opacity: 0.6798;
    transform: translate(26.2764vw, -10px) scale(0.7716);
    animation: fall-26 19s -2s linear infinite; }

@keyframes fall-26 {
  49.231% {
    transform: translate(25.0247vw, 49.231vh) scale(0.7716); }
  to {
    transform: translate(25.65055vw, 100vh) scale(0.7716); } }
  .snow:nth-child(27) {
    opacity: 0.0403;
    transform: translate(81.3015vw, -10px) scale(0.8317);
    animation: fall-27 18s -1s linear infinite; }

@keyframes fall-27 {
  67.703% {
    transform: translate(82.7634vw, 67.703vh) scale(0.8317); }
  to {
    transform: translate(82.03245vw, 100vh) scale(0.8317); } }
  .snow:nth-child(28) {
    opacity: 0.9858;
    transform: translate(51.5686vw, -10px) scale(0.7167);
    animation: fall-28 22s -25s linear infinite; }

@keyframes fall-28 {
  65.595% {
    transform: translate(43.2007vw, 65.595vh) scale(0.7167); }
  to {
    transform: translate(47.38465vw, 100vh) scale(0.7167); } }
  .snow:nth-child(29) {
    opacity: 0.4254;
    transform: translate(42.5021vw, -10px) scale(0.7549);
    animation: fall-29 30s -23s linear infinite; }

@keyframes fall-29 {
  76.305% {
    transform: translate(51.7938vw, 76.305vh) scale(0.7549); }
  to {
    transform: translate(47.14795vw, 100vh) scale(0.7549); } }
  .snow:nth-child(30) {
    opacity: 0.3763;
    transform: translate(84.317vw, -10px) scale(0.4185);
    animation: fall-30 29s -8s linear infinite; }

@keyframes fall-30 {
  36.595% {
    transform: translate(88.4508vw, 36.595vh) scale(0.4185); }
  to {
    transform: translate(86.3839vw, 100vh) scale(0.4185); } }
  .snow:nth-child(31) {
    opacity: 0.1893;
    transform: translate(43.2157vw, -10px) scale(0.3963);
    animation: fall-31 30s -2s linear infinite; }

@keyframes fall-31 {
  73.877% {
    transform: translate(44.5121vw, 73.877vh) scale(0.3963); }
  to {
    transform: translate(43.8639vw, 100vh) scale(0.3963); } }
  .snow:nth-child(32) {
    opacity: 0.6321;
    transform: translate(36.1275vw, -10px) scale(0.87);
    animation: fall-32 26s -26s linear infinite; }

@keyframes fall-32 {
  40.006% {
    transform: translate(45.6438vw, 40.006vh) scale(0.87); }
  to {
    transform: translate(40.88565vw, 100vh) scale(0.87); } }
  .snow:nth-child(33) {
    opacity: 0.2659;
    transform: translate(97.5597vw, -10px) scale(1);
    animation: fall-33 18s -16s linear infinite; }

@keyframes fall-33 {
  33.342% {
    transform: translate(101.3388vw, 33.342vh) scale(1); }
  to {
    transform: translate(99.44925vw, 100vh) scale(1); } }
  .snow:nth-child(34) {
    opacity: 0.5846;
    transform: translate(72.3939vw, -10px) scale(0.8874);
    animation: fall-34 11s -30s linear infinite; }

@keyframes fall-34 {
  79.528% {
    transform: translate(74.0288vw, 79.528vh) scale(0.8874); }
  to {
    transform: translate(73.21135vw, 100vh) scale(0.8874); } }
  .snow:nth-child(35) {
    opacity: 0.9926;
    transform: translate(53.061vw, -10px) scale(0.0351);
    animation: fall-35 13s -11s linear infinite; }

@keyframes fall-35 {
  65.367% {
    transform: translate(53.4323vw, 65.367vh) scale(0.0351); }
  to {
    transform: translate(53.24665vw, 100vh) scale(0.0351); } }
  .snow:nth-child(36) {
    opacity: 0.1049;
    transform: translate(19.0316vw, -10px) scale(0.0332);
    animation: fall-36 23s -9s linear infinite; }

@keyframes fall-36 {
  40.716% {
    transform: translate(23.7572vw, 40.716vh) scale(0.0332); }
  to {
    transform: translate(21.3944vw, 100vh) scale(0.0332); } }
  .snow:nth-child(37) {
    opacity: 0.1864;
    transform: translate(1.1382vw, -10px) scale(0.66);
    animation: fall-37 20s -18s linear infinite; }

@keyframes fall-37 {
  34.315% {
    transform: translate(-0.378vw, 34.315vh) scale(0.66); }
  to {
    transform: translate(0.3801vw, 100vh) scale(0.66); } }
  .snow:nth-child(38) {
    opacity: 0.6143;
    transform: translate(67.0269vw, -10px) scale(0.6272);
    animation: fall-38 10s -11s linear infinite; }

@keyframes fall-38 {
  62.686% {
    transform: translate(66.3809vw, 62.686vh) scale(0.6272); }
  to {
    transform: translate(66.7039vw, 100vh) scale(0.6272); } }
  .snow:nth-child(39) {
    opacity: 0.0111;
    transform: translate(80.3131vw, -10px) scale(0.805);
    animation: fall-39 12s -2s linear infinite; }

@keyframes fall-39 {
  37.323% {
    transform: translate(78.0018vw, 37.323vh) scale(0.805); }
  to {
    transform: translate(79.15745vw, 100vh) scale(0.805); } }
  .snow:nth-child(40) {
    opacity: 0.5809;
    transform: translate(19.6636vw, -10px) scale(0.8077);
    animation: fall-40 22s -15s linear infinite; }

@keyframes fall-40 {
  67.141% {
    transform: translate(9.9052vw, 67.141vh) scale(0.8077); }
  to {
    transform: translate(14.7844vw, 100vh) scale(0.8077); } }
  .snow:nth-child(41) {
    opacity: 0.5733;
    transform: translate(92.5891vw, -10px) scale(0.2969);
    animation: fall-41 16s -14s linear infinite; }

@keyframes fall-41 {
  39.022% {
    transform: translate(86.6435vw, 39.022vh) scale(0.2969); }
  to {
    transform: translate(89.6163vw, 100vh) scale(0.2969); } }
  .snow:nth-child(42) {
    opacity: 0.1419;
    transform: translate(73.9447vw, -10px) scale(0.263);
    animation: fall-42 21s -19s linear infinite; }

@keyframes fall-42 {
  61.906% {
    transform: translate(73.3992vw, 61.906vh) scale(0.263); }
  to {
    transform: translate(73.67195vw, 100vh) scale(0.263); } }
  .snow:nth-child(43) {
    opacity: 0.5863;
    transform: translate(34.1574vw, -10px) scale(0.3906);
    animation: fall-43 14s -19s linear infinite; }

@keyframes fall-43 {
  52.937% {
    transform: translate(41.4662vw, 52.937vh) scale(0.3906); }
  to {
    transform: translate(37.8118vw, 100vh) scale(0.3906); } }
  .snow:nth-child(44) {
    opacity: 0.9699;
    transform: translate(17.7862vw, -10px) scale(0.5267);
    animation: fall-44 26s -18s linear infinite; }

@keyframes fall-44 {
  51.784% {
    transform: translate(12.9129vw, 51.784vh) scale(0.5267); }
  to {
    transform: translate(15.34955vw, 100vh) scale(0.5267); } }
  .snow:nth-child(45) {
    opacity: 0.8398;
    transform: translate(79.2392vw, -10px) scale(0.688);
    animation: fall-45 14s -15s linear infinite; }

@keyframes fall-45 {
  76.144% {
    transform: translate(73.6627vw, 76.144vh) scale(0.688); }
  to {
    transform: translate(76.45095vw, 100vh) scale(0.688); } }
  .snow:nth-child(46) {
    opacity: 0.9318;
    transform: translate(67.0139vw, -10px) scale(0.9112);
    animation: fall-46 14s -5s linear infinite; }

@keyframes fall-46 {
  37.01% {
    transform: translate(69.5624vw, 37.01vh) scale(0.9112); }
  to {
    transform: translate(68.28815vw, 100vh) scale(0.9112); } }
  .snow:nth-child(47) {
    opacity: 0.3597;
    transform: translate(58.2401vw, -10px) scale(0.6116);
    animation: fall-47 16s -9s linear infinite; }

@keyframes fall-47 {
  74.595% {
    transform: translate(60.7765vw, 74.595vh) scale(0.6116); }
  to {
    transform: translate(59.5083vw, 100vh) scale(0.6116); } }
  .snow:nth-child(48) {
    opacity: 0.994;
    transform: translate(62.5321vw, -10px) scale(0.3585);
    animation: fall-48 17s -14s linear infinite; }

@keyframes fall-48 {
  47.977% {
    transform: translate(60.9408vw, 47.977vh) scale(0.3585); }
  to {
    transform: translate(61.73645vw, 100vh) scale(0.3585); } }
  .snow:nth-child(49) {
    opacity: 0.73;
    transform: translate(46.7755vw, -10px) scale(0.7896);
    animation: fall-49 19s -15s linear infinite; }

@keyframes fall-49 {
  40.277% {
    transform: translate(53.9195vw, 40.277vh) scale(0.7896); }
  to {
    transform: translate(50.3475vw, 100vh) scale(0.7896); } }
  .snow:nth-child(50) {
    opacity: 0.8906;
    transform: translate(94.7599vw, -10px) scale(0.627);
    animation: fall-50 11s -9s linear infinite; }

@keyframes fall-50 {
  33.063% {
    transform: translate(103.2375vw, 33.063vh) scale(0.627); }
  to {
    transform: translate(98.9987vw, 100vh) scale(0.627); } }
  .snow:nth-child(51) {
    opacity: 0.5704;
    transform: translate(45.3548vw, -10px) scale(0.6678);
    animation: fall-51 21s -9s linear infinite; }

@keyframes fall-51 {
  76.649% {
    transform: translate(46.9642vw, 76.649vh) scale(0.6678); }
  to {
    transform: translate(46.1595vw, 100vh) scale(0.6678); } }
  .snow:nth-child(52) {
    opacity: 0.308;
    transform: translate(71.8171vw, -10px) scale(0.3402);
    animation: fall-52 23s -25s linear infinite; }

@keyframes fall-52 {
  56.263% {
    transform: translate(74.2418vw, 56.263vh) scale(0.3402); }
  to {
    transform: translate(73.02945vw, 100vh) scale(0.3402); } }
  .snow:nth-child(53) {
    opacity: 0.6275;
    transform: translate(13.2978vw, -10px) scale(0.9918);
    animation: fall-53 13s -13s linear infinite; }

@keyframes fall-53 {
  43.396% {
    transform: translate(21.4691vw, 43.396vh) scale(0.9918); }
  to {
    transform: translate(17.38345vw, 100vh) scale(0.9918); } }
  .snow:nth-child(54) {
    opacity: 0.9933;
    transform: translate(50.6545vw, -10px) scale(0.4896);
    animation: fall-54 27s -26s linear infinite; }

@keyframes fall-54 {
  49.341% {
    transform: translate(55.5075vw, 49.341vh) scale(0.4896); }
  to {
    transform: translate(53.081vw, 100vh) scale(0.4896); } }
  .snow:nth-child(55) {
    opacity: 0.2199;
    transform: translate(48.9102vw, -10px) scale(0.0078);
    animation: fall-55 23s -26s linear infinite; }

@keyframes fall-55 {
  39.932% {
    transform: translate(46.428vw, 39.932vh) scale(0.0078); }
  to {
    transform: translate(47.6691vw, 100vh) scale(0.0078); } }
  .snow:nth-child(56) {
    opacity: 0.5366;
    transform: translate(61.5057vw, -10px) scale(0.9873);
    animation: fall-56 13s -17s linear infinite; }

@keyframes fall-56 {
  61.023% {
    transform: translate(67.5746vw, 61.023vh) scale(0.9873); }
  to {
    transform: translate(64.54015vw, 100vh) scale(0.9873); } }
  .snow:nth-child(57) {
    opacity: 0.4582;
    transform: translate(11.1588vw, -10px) scale(0.5609);
    animation: fall-57 11s -25s linear infinite; }

@keyframes fall-57 {
  58.669% {
    transform: translate(2.1954vw, 58.669vh) scale(0.5609); }
  to {
    transform: translate(6.6771vw, 100vh) scale(0.5609); } }
  .snow:nth-child(58) {
    opacity: 0.2288;
    transform: translate(25.1874vw, -10px) scale(0.1527);
    animation: fall-58 17s -15s linear infinite; }

@keyframes fall-58 {
  65.793% {
    transform: translate(31.9064vw, 65.793vh) scale(0.1527); }
  to {
    transform: translate(28.5469vw, 100vh) scale(0.1527); } }
  .snow:nth-child(59) {
    opacity: 0.6549;
    transform: translate(87.406vw, -10px) scale(0.068);
    animation: fall-59 18s -1s linear infinite; }

@keyframes fall-59 {
  52.925% {
    transform: translate(88.3011vw, 52.925vh) scale(0.068); }
  to {
    transform: translate(87.85355vw, 100vh) scale(0.068); } }
  .snow:nth-child(60) {
    opacity: 0.5188;
    transform: translate(1.7684vw, -10px) scale(0.3758);
    animation: fall-60 26s -11s linear infinite; }

@keyframes fall-60 {
  60.219% {
    transform: translate(6.7884vw, 60.219vh) scale(0.3758); }
  to {
    transform: translate(4.2784vw, 100vh) scale(0.3758); } }
  .snow:nth-child(61) {
    opacity: 0.7044;
    transform: translate(13.9466vw, -10px) scale(0.4076);
    animation: fall-61 24s -5s linear infinite; }

@keyframes fall-61 {
  30.311% {
    transform: translate(23.7213vw, 30.311vh) scale(0.4076); }
  to {
    transform: translate(18.83395vw, 100vh) scale(0.4076); } }
  .snow:nth-child(62) {
    opacity: 0.1393;
    transform: translate(9.1632vw, -10px) scale(0.9116);
    animation: fall-62 13s -3s linear infinite; }

@keyframes fall-62 {
  54.945% {
    transform: translate(0.2572vw, 54.945vh) scale(0.9116); }
  to {
    transform: translate(4.7102vw, 100vh) scale(0.9116); } }
  .snow:nth-child(63) {
    opacity: 0.3861;
    transform: translate(34.7052vw, -10px) scale(0.0684);
    animation: fall-63 29s -19s linear infinite; }

@keyframes fall-63 {
  53.972% {
    transform: translate(38.515vw, 53.972vh) scale(0.0684); }
  to {
    transform: translate(36.6101vw, 100vh) scale(0.0684); } }
  .snow:nth-child(64) {
    opacity: 0.6049;
    transform: translate(33.1752vw, -10px) scale(0.1162);
    animation: fall-64 30s -22s linear infinite; }

@keyframes fall-64 {
  75.936% {
    transform: translate(41.0071vw, 75.936vh) scale(0.1162); }
  to {
    transform: translate(37.09115vw, 100vh) scale(0.1162); } }
  .snow:nth-child(65) {
    opacity: 0.4364;
    transform: translate(68.1726vw, -10px) scale(0.8837);
    animation: fall-65 14s -12s linear infinite; }

@keyframes fall-65 {
  40.506% {
    transform: translate(68.6921vw, 40.506vh) scale(0.8837); }
  to {
    transform: translate(68.43235vw, 100vh) scale(0.8837); } }
  .snow:nth-child(66) {
    opacity: 0.8785;
    transform: translate(90.9611vw, -10px) scale(0.123);
    animation: fall-66 17s -26s linear infinite; }

@keyframes fall-66 {
  68.601% {
    transform: translate(97.7328vw, 68.601vh) scale(0.123); }
  to {
    transform: translate(94.34695vw, 100vh) scale(0.123); } }
  .snow:nth-child(67) {
    opacity: 0.3656;
    transform: translate(26.6418vw, -10px) scale(0.5964);
    animation: fall-67 18s -9s linear infinite; }

@keyframes fall-67 {
  54.517% {
    transform: translate(19.2639vw, 54.517vh) scale(0.5964); }
  to {
    transform: translate(22.95285vw, 100vh) scale(0.5964); } }
  .snow:nth-child(68) {
    opacity: 0.9133;
    transform: translate(82.304vw, -10px) scale(0.6531);
    animation: fall-68 13s -18s linear infinite; }

@keyframes fall-68 {
  38.893% {
    transform: translate(83.1458vw, 38.893vh) scale(0.6531); }
  to {
    transform: translate(82.7249vw, 100vh) scale(0.6531); } }
  .snow:nth-child(69) {
    opacity: 0.2384;
    transform: translate(61.6364vw, -10px) scale(0.4528);
    animation: fall-69 21s -25s linear infinite; }

@keyframes fall-69 {
  50.955% {
    transform: translate(59.8903vw, 50.955vh) scale(0.4528); }
  to {
    transform: translate(60.76335vw, 100vh) scale(0.4528); } }
  .snow:nth-child(70) {
    opacity: 0.2703;
    transform: translate(26.0509vw, -10px) scale(0.1327);
    animation: fall-70 30s -28s linear infinite; }

@keyframes fall-70 {
  38.671% {
    transform: translate(17.858vw, 38.671vh) scale(0.1327); }
  to {
    transform: translate(21.95445vw, 100vh) scale(0.1327); } }
  .snow:nth-child(71) {
    opacity: 0.5997;
    transform: translate(19.0192vw, -10px) scale(0.1922);
    animation: fall-71 16s -27s linear infinite; }

@keyframes fall-71 {
  67.268% {
    transform: translate(14.5544vw, 67.268vh) scale(0.1922); }
  to {
    transform: translate(16.7868vw, 100vh) scale(0.1922); } }
  .snow:nth-child(72) {
    opacity: 0.4724;
    transform: translate(87.3852vw, -10px) scale(0.5636);
    animation: fall-72 16s -23s linear infinite; }

@keyframes fall-72 {
  53.379% {
    transform: translate(78.7947vw, 53.379vh) scale(0.5636); }
  to {
    transform: translate(83.08995vw, 100vh) scale(0.5636); } }
  .snow:nth-child(73) {
    opacity: 0.7664;
    transform: translate(93.1925vw, -10px) scale(0.4595);
    animation: fall-73 16s -17s linear infinite; }

@keyframes fall-73 {
  42.484% {
    transform: translate(91.3889vw, 42.484vh) scale(0.4595); }
  to {
    transform: translate(92.2907vw, 100vh) scale(0.4595); } }
  .snow:nth-child(74) {
    opacity: 0.5187;
    transform: translate(69.3487vw, -10px) scale(0.0134);
    animation: fall-74 29s -18s linear infinite; }

@keyframes fall-74 {
  47.672% {
    transform: translate(59.8362vw, 47.672vh) scale(0.0134); }
  to {
    transform: translate(64.59245vw, 100vh) scale(0.0134); } }
  .snow:nth-child(75) {
    opacity: 0.8533;
    transform: translate(56.0393vw, -10px) scale(0.0612);
    animation: fall-75 24s -16s linear infinite; }

@keyframes fall-75 {
  64.664% {
    transform: translate(59.666vw, 64.664vh) scale(0.0612); }
  to {
    transform: translate(57.85265vw, 100vh) scale(0.0612); } }
  .snow:nth-child(76) {
    opacity: 0.5632;
    transform: translate(36.7433vw, -10px) scale(0.9804);
    animation: fall-76 26s -10s linear infinite; }

@keyframes fall-76 {
  54.435% {
    transform: translate(34.5266vw, 54.435vh) scale(0.9804); }
  to {
    transform: translate(35.63495vw, 100vh) scale(0.9804); } }
  .snow:nth-child(77) {
    opacity: 0.7081;
    transform: translate(17.9046vw, -10px) scale(0.0228);
    animation: fall-77 22s -12s linear infinite; }

@keyframes fall-77 {
  31.168% {
    transform: translate(10.2666vw, 31.168vh) scale(0.0228); }
  to {
    transform: translate(14.0856vw, 100vh) scale(0.0228); } }
  .snow:nth-child(78) {
    opacity: 0.562;
    transform: translate(27.2383vw, -10px) scale(0.4422);
    animation: fall-78 29s -7s linear infinite; }

@keyframes fall-78 {
  53.454% {
    transform: translate(35.5206vw, 53.454vh) scale(0.4422); }
  to {
    transform: translate(31.37945vw, 100vh) scale(0.4422); } }
  .snow:nth-child(79) {
    opacity: 0.0317;
    transform: translate(78.7517vw, -10px) scale(0.6162);
    animation: fall-79 19s -16s linear infinite; }

@keyframes fall-79 {
  40.402% {
    transform: translate(78.541vw, 40.402vh) scale(0.6162); }
  to {
    transform: translate(78.64635vw, 100vh) scale(0.6162); } }
  .snow:nth-child(80) {
    opacity: 0.001;
    transform: translate(6.4467vw, -10px) scale(0.1929);
    animation: fall-80 24s -1s linear infinite; }

@keyframes fall-80 {
  69.729% {
    transform: translate(8.0031vw, 69.729vh) scale(0.1929); }
  to {
    transform: translate(7.2249vw, 100vh) scale(0.1929); } }
  .snow:nth-child(81) {
    opacity: 0.3122;
    transform: translate(46.7667vw, -10px) scale(0.3322);
    animation: fall-81 27s -2s linear infinite; }

@keyframes fall-81 {
  42.872% {
    transform: translate(51.9507vw, 42.872vh) scale(0.3322); }
  to {
    transform: translate(49.3587vw, 100vh) scale(0.3322); } }
  .snow:nth-child(82) {
    opacity: 0.4992;
    transform: translate(49.4865vw, -10px) scale(0.4521);
    animation: fall-82 24s -23s linear infinite; }

@keyframes fall-82 {
  71.309% {
    transform: translate(40.1361vw, 71.309vh) scale(0.4521); }
  to {
    transform: translate(44.8113vw, 100vh) scale(0.4521); } }
  .snow:nth-child(83) {
    opacity: 0.0061;
    transform: translate(63.6517vw, -10px) scale(0.0223);
    animation: fall-83 28s -16s linear infinite; }

@keyframes fall-83 {
  51.147% {
    transform: translate(58.928vw, 51.147vh) scale(0.0223); }
  to {
    transform: translate(61.28985vw, 100vh) scale(0.0223); } }
  .snow:nth-child(84) {
    opacity: 0.7778;
    transform: translate(52.6783vw, -10px) scale(0.8322);
    animation: fall-84 23s -7s linear infinite; }

@keyframes fall-84 {
  59.559% {
    transform: translate(44.1138vw, 59.559vh) scale(0.8322); }
  to {
    transform: translate(48.39605vw, 100vh) scale(0.8322); } }
  .snow:nth-child(85) {
    opacity: 0.5389;
    transform: translate(75.1472vw, -10px) scale(0.569);
    animation: fall-85 22s -3s linear infinite; }

@keyframes fall-85 {
  38.506% {
    transform: translate(72.2473vw, 38.506vh) scale(0.569); }
  to {
    transform: translate(73.69725vw, 100vh) scale(0.569); } }
  .snow:nth-child(86) {
    opacity: 0.1971;
    transform: translate(60.2758vw, -10px) scale(0.114);
    animation: fall-86 11s -4s linear infinite; }

@keyframes fall-86 {
  63.925% {
    transform: translate(60.1484vw, 63.925vh) scale(0.114); }
  to {
    transform: translate(60.2121vw, 100vh) scale(0.114); } }
  .snow:nth-child(87) {
    opacity: 0.1249;
    transform: translate(2.6346vw, -10px) scale(0.1707);
    animation: fall-87 19s -4s linear infinite; }

@keyframes fall-87 {
  32.024% {
    transform: translate(1.7042vw, 32.024vh) scale(0.1707); }
  to {
    transform: translate(2.1694vw, 100vh) scale(0.1707); } }
  .snow:nth-child(88) {
    opacity: 0.1666;
    transform: translate(26.6703vw, -10px) scale(0.9988);
    animation: fall-88 23s -6s linear infinite; }

@keyframes fall-88 {
  42.895% {
    transform: translate(22.4753vw, 42.895vh) scale(0.9988); }
  to {
    transform: translate(24.5728vw, 100vh) scale(0.9988); } }
  .snow:nth-child(89) {
    opacity: 0.9545;
    transform: translate(21.0885vw, -10px) scale(0.834);
    animation: fall-89 19s -25s linear infinite; }

@keyframes fall-89 {
  32.729% {
    transform: translate(28.0515vw, 32.729vh) scale(0.834); }
  to {
    transform: translate(24.57vw, 100vh) scale(0.834); } }
  .snow:nth-child(90) {
    opacity: 0.1044;
    transform: translate(72.6948vw, -10px) scale(0.6296);
    animation: fall-90 16s -6s linear infinite; }

@keyframes fall-90 {
  67.856% {
    transform: translate(80.7136vw, 67.856vh) scale(0.6296); }
  to {
    transform: translate(76.7042vw, 100vh) scale(0.6296); } }
  .snow:nth-child(91) {
    opacity: 0.1748;
    transform: translate(14.8853vw, -10px) scale(0.1176);
    animation: fall-91 19s -27s linear infinite; }

@keyframes fall-91 {
  70.044% {
    transform: translate(17.9237vw, 70.044vh) scale(0.1176); }
  to {
    transform: translate(16.4045vw, 100vh) scale(0.1176); } }
  .snow:nth-child(92) {
    opacity: 0.1512;
    transform: translate(14.3052vw, -10px) scale(0.7868);
    animation: fall-92 29s -5s linear infinite; }

@keyframes fall-92 {
  62.606% {
    transform: translate(16.9515vw, 62.606vh) scale(0.7868); }
  to {
    transform: translate(15.62835vw, 100vh) scale(0.7868); } }
  .snow:nth-child(93) {
    opacity: 0.378;
    transform: translate(84.9491vw, -10px) scale(0.966);
    animation: fall-93 15s -26s linear infinite; }

@keyframes fall-93 {
  66.665% {
    transform: translate(91.6723vw, 66.665vh) scale(0.966); }
  to {
    transform: translate(88.3107vw, 100vh) scale(0.966); } }
  .snow:nth-child(94) {
    opacity: 0.0227;
    transform: translate(75.6243vw, -10px) scale(0.5299);
    animation: fall-94 27s -27s linear infinite; }

@keyframes fall-94 {
  69.746% {
    transform: translate(80.1834vw, 69.746vh) scale(0.5299); }
  to {
    transform: translate(77.90385vw, 100vh) scale(0.5299); } }
  .snow:nth-child(95) {
    opacity: 0.272;
    transform: translate(93.9016vw, -10px) scale(0.6309);
    animation: fall-95 29s -25s linear infinite; }

@keyframes fall-95 {
  46.347% {
    transform: translate(97.3287vw, 46.347vh) scale(0.6309); }
  to {
    transform: translate(95.61515vw, 100vh) scale(0.6309); } }
  .snow:nth-child(96) {
    opacity: 0.7557;
    transform: translate(29.5274vw, -10px) scale(0.129);
    animation: fall-96 26s -26s linear infinite; }

@keyframes fall-96 {
  34.042% {
    transform: translate(22.2474vw, 34.042vh) scale(0.129); }
  to {
    transform: translate(25.8874vw, 100vh) scale(0.129); } }
  .snow:nth-child(97) {
    opacity: 0.7164;
    transform: translate(69.7712vw, -10px) scale(0.1997);
    animation: fall-97 28s -23s linear infinite; }

@keyframes fall-97 {
  70.482% {
    transform: translate(76.8637vw, 70.482vh) scale(0.1997); }
  to {
    transform: translate(73.31745vw, 100vh) scale(0.1997); } }
  .snow:nth-child(98) {
    opacity: 0.4692;
    transform: translate(79.4545vw, -10px) scale(0.866);
    animation: fall-98 15s -5s linear infinite; }

@keyframes fall-98 {
  53.495% {
    transform: translate(71.5318vw, 53.495vh) scale(0.866); }
  to {
    transform: translate(75.49315vw, 100vh) scale(0.866); } }
  .snow:nth-child(99) {
    opacity: 0.3173;
    transform: translate(68.3111vw, -10px) scale(0.9514);
    animation: fall-99 20s -6s linear infinite; }

@keyframes fall-99 {
  75.835% {
    transform: translate(64.7002vw, 75.835vh) scale(0.9514); }
  to {
    transform: translate(66.50565vw, 100vh) scale(0.9514); } }
  .snow:nth-child(100) {
    opacity: 0.5385;
    transform: translate(80.6265vw, -10px) scale(0.6373);
    animation: fall-100 25s -28s linear infinite; }

@keyframes fall-100 {
  59.823% {
    transform: translate(85.9972vw, 59.823vh) scale(0.6373); }
  to {
    transform: translate(83.31185vw, 100vh) scale(0.6373); } }
  .snow:nth-child(101) {
    opacity: 0.4202;
    transform: translate(2.122vw, -10px) scale(0.139);
    animation: fall-101 21s -25s linear infinite; }

@keyframes fall-101 {
  61.681% {
    transform: translate(4.1108vw, 61.681vh) scale(0.139); }
  to {
    transform: translate(3.1164vw, 100vh) scale(0.139); } }
  .snow:nth-child(102) {
    opacity: 0.9924;
    transform: translate(96.7708vw, -10px) scale(0.0032);
    animation: fall-102 18s -26s linear infinite; }

@keyframes fall-102 {
  47.945% {
    transform: translate(101.0172vw, 47.945vh) scale(0.0032); }
  to {
    transform: translate(98.894vw, 100vh) scale(0.0032); } }
  .snow:nth-child(103) {
    opacity: 0.7391;
    transform: translate(62.607vw, -10px) scale(0.2535);
    animation: fall-103 11s -6s linear infinite; }

@keyframes fall-103 {
  73.612% {
    transform: translate(63.9173vw, 73.612vh) scale(0.2535); }
  to {
    transform: translate(63.26215vw, 100vh) scale(0.2535); } }
  .snow:nth-child(104) {
    opacity: 0.825;
    transform: translate(25.982vw, -10px) scale(0.0221);
    animation: fall-104 12s -26s linear infinite; }

@keyframes fall-104 {
  45.78% {
    transform: translate(33.9954vw, 45.78vh) scale(0.0221); }
  to {
    transform: translate(29.9887vw, 100vh) scale(0.0221); } }
  .snow:nth-child(105) {
    opacity: 0.3241;
    transform: translate(34.1854vw, -10px) scale(0.7659);
    animation: fall-105 18s -27s linear infinite; }

@keyframes fall-105 {
  63.219% {
    transform: translate(27.6425vw, 63.219vh) scale(0.7659); }
  to {
    transform: translate(30.91395vw, 100vh) scale(0.7659); } }
  .snow:nth-child(106) {
    opacity: 0.5077;
    transform: translate(72.2657vw, -10px) scale(0.235);
    animation: fall-106 18s -16s linear infinite; }

@keyframes fall-106 {
  53.7% {
    transform: translate(72.4697vw, 53.7vh) scale(0.235); }
  to {
    transform: translate(72.3677vw, 100vh) scale(0.235); } }
  .snow:nth-child(107) {
    opacity: 0.3892;
    transform: translate(62.8274vw, -10px) scale(0.5296);
    animation: fall-107 18s -3s linear infinite; }

@keyframes fall-107 {
  65.066% {
    transform: translate(67.7449vw, 65.066vh) scale(0.5296); }
  to {
    transform: translate(65.28615vw, 100vh) scale(0.5296); } }
  .snow:nth-child(108) {
    opacity: 0.5758;
    transform: translate(0.6123vw, -10px) scale(0.678);
    animation: fall-108 25s -26s linear infinite; }

@keyframes fall-108 {
  55.372% {
    transform: translate(-9.0889vw, 55.372vh) scale(0.678); }
  to {
    transform: translate(-4.2383vw, 100vh) scale(0.678); } }
  .snow:nth-child(109) {
    opacity: 0.8899;
    transform: translate(38.4492vw, -10px) scale(0.5087);
    animation: fall-109 28s -12s linear infinite; }

@keyframes fall-109 {
  32.69% {
    transform: translate(42.3584vw, 32.69vh) scale(0.5087); }
  to {
    transform: translate(40.4038vw, 100vh) scale(0.5087); } }
  .snow:nth-child(110) {
    opacity: 0.8839;
    transform: translate(82.5293vw, -10px) scale(0.8578);
    animation: fall-110 30s -4s linear infinite; }

@keyframes fall-110 {
  43.024% {
    transform: translate(77.5393vw, 43.024vh) scale(0.8578); }
  to {
    transform: translate(80.0343vw, 100vh) scale(0.8578); } }
  .snow:nth-child(111) {
    opacity: 0.668;
    transform: translate(43.6921vw, -10px) scale(0.5702);
    animation: fall-111 26s -6s linear infinite; }

@keyframes fall-111 {
  73.579% {
    transform: translate(42.638vw, 73.579vh) scale(0.5702); }
  to {
    transform: translate(43.16505vw, 100vh) scale(0.5702); } }
  .snow:nth-child(112) {
    opacity: 0.532;
    transform: translate(69.8913vw, -10px) scale(0.8864);
    animation: fall-112 20s -26s linear infinite; }

@keyframes fall-112 {
  42.325% {
    transform: translate(65.6388vw, 42.325vh) scale(0.8864); }
  to {
    transform: translate(67.76505vw, 100vh) scale(0.8864); } }
  .snow:nth-child(113) {
    opacity: 0.1447;
    transform: translate(69.4356vw, -10px) scale(0.2125);
    animation: fall-113 24s -16s linear infinite; }

@keyframes fall-113 {
  49.41% {
    transform: translate(61.8204vw, 49.41vh) scale(0.2125); }
  to {
    transform: translate(65.628vw, 100vh) scale(0.2125); } }
  .snow:nth-child(114) {
    opacity: 0.9306;
    transform: translate(41.8138vw, -10px) scale(0.1286);
    animation: fall-114 11s -11s linear infinite; }

@keyframes fall-114 {
  54.866% {
    transform: translate(44.1498vw, 54.866vh) scale(0.1286); }
  to {
    transform: translate(42.9818vw, 100vh) scale(0.1286); } }
  .snow:nth-child(115) {
    opacity: 0.9645;
    transform: translate(51.4818vw, -10px) scale(0.3674);
    animation: fall-115 27s -16s linear infinite; }

@keyframes fall-115 {
  33.33% {
    transform: translate(59.1107vw, 33.33vh) scale(0.3674); }
  to {
    transform: translate(55.29625vw, 100vh) scale(0.3674); } }
  .snow:nth-child(116) {
    opacity: 0.7058;
    transform: translate(49.238vw, -10px) scale(0.9007);
    animation: fall-116 13s -27s linear infinite; }

@keyframes fall-116 {
  59.258% {
    transform: translate(41.4557vw, 59.258vh) scale(0.9007); }
  to {
    transform: translate(45.34685vw, 100vh) scale(0.9007); } }
  .snow:nth-child(117) {
    opacity: 0.2447;
    transform: translate(19.8353vw, -10px) scale(0.4041);
    animation: fall-117 25s -25s linear infinite; }

@keyframes fall-117 {
  68.634% {
    transform: translate(28.9292vw, 68.634vh) scale(0.4041); }
  to {
    transform: translate(24.38225vw, 100vh) scale(0.4041); } }
  .snow:nth-child(118) {
    opacity: 0.4326;
    transform: translate(8.9747vw, -10px) scale(0.7457);
    animation: fall-118 17s -28s linear infinite; }

@keyframes fall-118 {
  55.409% {
    transform: translate(5.1274vw, 55.409vh) scale(0.7457); }
  to {
    transform: translate(7.05105vw, 100vh) scale(0.7457); } }
  .snow:nth-child(119) {
    opacity: 0.9769;
    transform: translate(57.7673vw, -10px) scale(0.4096);
    animation: fall-119 23s -28s linear infinite; }

@keyframes fall-119 {
  55.42% {
    transform: translate(67.2459vw, 55.42vh) scale(0.4096); }
  to {
    transform: translate(62.5066vw, 100vh) scale(0.4096); } }
  .snow:nth-child(120) {
    opacity: 0.8788;
    transform: translate(10.3603vw, -10px) scale(0.4795);
    animation: fall-120 25s -22s linear infinite; }

@keyframes fall-120 {
  74.14% {
    transform: translate(2.5408vw, 74.14vh) scale(0.4795); }
  to {
    transform: translate(6.45055vw, 100vh) scale(0.4795); } }
  .snow:nth-child(121) {
    opacity: 0.5056;
    transform: translate(18.6319vw, -10px) scale(0.2767);
    animation: fall-121 28s -15s linear infinite; }

@keyframes fall-121 {
  31.542% {
    transform: translate(9.2103vw, 31.542vh) scale(0.2767); }
  to {
    transform: translate(13.9211vw, 100vh) scale(0.2767); } }
  .snow:nth-child(122) {
    opacity: 0.1491;
    transform: translate(91.2161vw, -10px) scale(0.0878);
    animation: fall-122 19s -19s linear infinite; }

@keyframes fall-122 {
  49.381% {
    transform: translate(98.194vw, 49.381vh) scale(0.0878); }
  to {
    transform: translate(94.70505vw, 100vh) scale(0.0878); } }
  .snow:nth-child(123) {
    opacity: 0.1344;
    transform: translate(17.3106vw, -10px) scale(0.1881);
    animation: fall-123 16s -2s linear infinite; }

@keyframes fall-123 {
  51.299% {
    transform: translate(21.8938vw, 51.299vh) scale(0.1881); }
  to {
    transform: translate(19.6022vw, 100vh) scale(0.1881); } }
  .snow:nth-child(124) {
    opacity: 0.5091;
    transform: translate(48.5863vw, -10px) scale(0.1199);
    animation: fall-124 18s -7s linear infinite; }

@keyframes fall-124 {
  77.869% {
    transform: translate(49.3534vw, 77.869vh) scale(0.1199); }
  to {
    transform: translate(48.96985vw, 100vh) scale(0.1199); } }
  .snow:nth-child(125) {
    opacity: 0.7417;
    transform: translate(64.3252vw, -10px) scale(0.0793);
    animation: fall-125 22s -17s linear infinite; }

@keyframes fall-125 {
  72.172% {
    transform: translate(72.088vw, 72.172vh) scale(0.0793); }
  to {
    transform: translate(68.2066vw, 100vh) scale(0.0793); } }
  .snow:nth-child(126) {
    opacity: 0.9079;
    transform: translate(11.8836vw, -10px) scale(0.2231);
    animation: fall-126 23s -13s linear infinite; }

@keyframes fall-126 {
  72.598% {
    transform: translate(14.0017vw, 72.598vh) scale(0.2231); }
  to {
    transform: translate(12.94265vw, 100vh) scale(0.2231); } }
  .snow:nth-child(127) {
    opacity: 0.7102;
    transform: translate(55.8461vw, -10px) scale(0.1174);
    animation: fall-127 20s -6s linear infinite; }

@keyframes fall-127 {
  47.22% {
    transform: translate(58.7521vw, 47.22vh) scale(0.1174); }
  to {
    transform: translate(57.2991vw, 100vh) scale(0.1174); } }
  .snow:nth-child(128) {
    opacity: 0.9326;
    transform: translate(50.1151vw, -10px) scale(0.4126);
    animation: fall-128 17s -18s linear infinite; }

@keyframes fall-128 {
  39.526% {
    transform: translate(51.1697vw, 39.526vh) scale(0.4126); }
  to {
    transform: translate(50.6424vw, 100vh) scale(0.4126); } }
  .snow:nth-child(129) {
    opacity: 0.7472;
    transform: translate(96.4312vw, -10px) scale(0.5998);
    animation: fall-129 16s -5s linear infinite; }

@keyframes fall-129 {
  41.914% {
    transform: translate(91.2681vw, 41.914vh) scale(0.5998); }
  to {
    transform: translate(93.84965vw, 100vh) scale(0.5998); } }
  .snow:nth-child(130) {
    opacity: 0.5377;
    transform: translate(4.7305vw, -10px) scale(0.8945);
    animation: fall-130 30s -27s linear infinite; }

@keyframes fall-130 {
  30.488% {
    transform: translate(8.3675vw, 30.488vh) scale(0.8945); }
  to {
    transform: translate(6.549vw, 100vh) scale(0.8945); } }
  .snow:nth-child(131) {
    opacity: 0.5765;
    transform: translate(12.3873vw, -10px) scale(0.828);
    animation: fall-131 27s -27s linear infinite; }

@keyframes fall-131 {
  61.781% {
    transform: translate(21.6613vw, 61.781vh) scale(0.828); }
  to {
    transform: translate(17.0243vw, 100vh) scale(0.828); } }
  .snow:nth-child(132) {
    opacity: 0.9521;
    transform: translate(77.5699vw, -10px) scale(0.7465);
    animation: fall-132 21s -26s linear infinite; }

@keyframes fall-132 {
  72.91% {
    transform: translate(86.0834vw, 72.91vh) scale(0.7465); }
  to {
    transform: translate(81.82665vw, 100vh) scale(0.7465); } }
  .snow:nth-child(133) {
    opacity: 0.1477;
    transform: translate(21.2026vw, -10px) scale(0.5606);
    animation: fall-133 17s -4s linear infinite; }

@keyframes fall-133 {
  39.466% {
    transform: translate(23.6643vw, 39.466vh) scale(0.5606); }
  to {
    transform: translate(22.43345vw, 100vh) scale(0.5606); } }
  .snow:nth-child(134) {
    opacity: 0.7723;
    transform: translate(52.4327vw, -10px) scale(0.8715);
    animation: fall-134 11s -16s linear infinite; }

@keyframes fall-134 {
  51.309% {
    transform: translate(54.0981vw, 51.309vh) scale(0.8715); }
  to {
    transform: translate(53.2654vw, 100vh) scale(0.8715); } }
  .snow:nth-child(135) {
    opacity: 0.1547;
    transform: translate(43.2543vw, -10px) scale(0.0838);
    animation: fall-135 29s -20s linear infinite; }

@keyframes fall-135 {
  76.576% {
    transform: translate(34.1906vw, 76.576vh) scale(0.0838); }
  to {
    transform: translate(38.72245vw, 100vh) scale(0.0838); } }
  .snow:nth-child(136) {
    opacity: 0.3476;
    transform: translate(51.6815vw, -10px) scale(0.9543);
    animation: fall-136 24s -22s linear infinite; }

@keyframes fall-136 {
  70.959% {
    transform: translate(51.2462vw, 70.959vh) scale(0.9543); }
  to {
    transform: translate(51.46385vw, 100vh) scale(0.9543); } }
  .snow:nth-child(137) {
    opacity: 0.7163;
    transform: translate(3.6121vw, -10px) scale(0.87);
    animation: fall-137 15s -26s linear infinite; }

@keyframes fall-137 {
  58.087% {
    transform: translate(-3.6874vw, 58.087vh) scale(0.87); }
  to {
    transform: translate(-0.03765vw, 100vh) scale(0.87); } }
  .snow:nth-child(138) {
    opacity: 0.3535;
    transform: translate(33.1106vw, -10px) scale(0.2156);
    animation: fall-138 23s -12s linear infinite; }

@keyframes fall-138 {
  50.459% {
    transform: translate(40.6142vw, 50.459vh) scale(0.2156); }
  to {
    transform: translate(36.8624vw, 100vh) scale(0.2156); } }
  .snow:nth-child(139) {
    opacity: 0.3078;
    transform: translate(65.8304vw, -10px) scale(0.9612);
    animation: fall-139 13s -18s linear infinite; }

@keyframes fall-139 {
  59.657% {
    transform: translate(59.3437vw, 59.657vh) scale(0.9612); }
  to {
    transform: translate(62.58705vw, 100vh) scale(0.9612); } }
  .snow:nth-child(140) {
    opacity: 0.9352;
    transform: translate(64.6696vw, -10px) scale(0.9341);
    animation: fall-140 12s -2s linear infinite; }

@keyframes fall-140 {
  72.66% {
    transform: translate(74.1358vw, 72.66vh) scale(0.9341); }
  to {
    transform: translate(69.4027vw, 100vh) scale(0.9341); } }
  .snow:nth-child(141) {
    opacity: 0.4266;
    transform: translate(85.4156vw, -10px) scale(0.9538);
    animation: fall-141 28s -4s linear infinite; }

@keyframes fall-141 {
  49.878% {
    transform: translate(91.0624vw, 49.878vh) scale(0.9538); }
  to {
    transform: translate(88.239vw, 100vh) scale(0.9538); } }
  .snow:nth-child(142) {
    opacity: 0.1232;
    transform: translate(33.0349vw, -10px) scale(0.0062);
    animation: fall-142 12s -4s linear infinite; }

@keyframes fall-142 {
  36.618% {
    transform: translate(36.7355vw, 36.618vh) scale(0.0062); }
  to {
    transform: translate(34.8852vw, 100vh) scale(0.0062); } }
  .snow:nth-child(143) {
    opacity: 0.9498;
    transform: translate(47.846vw, -10px) scale(0.9196);
    animation: fall-143 27s -28s linear infinite; }

@keyframes fall-143 {
  71.282% {
    transform: translate(46.3249vw, 71.282vh) scale(0.9196); }
  to {
    transform: translate(47.08545vw, 100vh) scale(0.9196); } }
  .snow:nth-child(144) {
    opacity: 0.1052;
    transform: translate(53.8024vw, -10px) scale(0.7752);
    animation: fall-144 27s -14s linear infinite; }

@keyframes fall-144 {
  76.001% {
    transform: translate(60.2098vw, 76.001vh) scale(0.7752); }
  to {
    transform: translate(57.0061vw, 100vh) scale(0.7752); } }
  .snow:nth-child(145) {
    opacity: 0.9227;
    transform: translate(59.9256vw, -10px) scale(0.5717);
    animation: fall-145 10s -5s linear infinite; }

@keyframes fall-145 {
  32.332% {
    transform: translate(65.7989vw, 32.332vh) scale(0.5717); }
  to {
    transform: translate(62.86225vw, 100vh) scale(0.5717); } }
  .snow:nth-child(146) {
    opacity: 0.3479;
    transform: translate(21.0607vw, -10px) scale(0.3902);
    animation: fall-146 25s -12s linear infinite; }

@keyframes fall-146 {
  62.996% {
    transform: translate(27.5899vw, 62.996vh) scale(0.3902); }
  to {
    transform: translate(24.3253vw, 100vh) scale(0.3902); } }
  .snow:nth-child(147) {
    opacity: 0.8711;
    transform: translate(42.2901vw, -10px) scale(0.2838);
    animation: fall-147 14s -18s linear infinite; }

@keyframes fall-147 {
  34.407% {
    transform: translate(50.6103vw, 34.407vh) scale(0.2838); }
  to {
    transform: translate(46.4502vw, 100vh) scale(0.2838); } }
  .snow:nth-child(148) {
    opacity: 0.1156;
    transform: translate(33.879vw, -10px) scale(0.0427);
    animation: fall-148 18s -4s linear infinite; }

@keyframes fall-148 {
  74.202% {
    transform: translate(41.2936vw, 74.202vh) scale(0.0427); }
  to {
    transform: translate(37.5863vw, 100vh) scale(0.0427); } }
  .snow:nth-child(149) {
    opacity: 0.3658;
    transform: translate(8.3809vw, -10px) scale(0.327);
    animation: fall-149 10s -6s linear infinite; }

@keyframes fall-149 {
  42.731% {
    transform: translate(1.5199vw, 42.731vh) scale(0.327); }
  to {
    transform: translate(4.9504vw, 100vh) scale(0.327); } }
  .snow:nth-child(150) {
    opacity: 0.4091;
    transform: translate(81.9036vw, -10px) scale(0.4431);
    animation: fall-150 18s -13s linear infinite; }

@keyframes fall-150 {
  76.787% {
    transform: translate(84.5228vw, 76.787vh) scale(0.4431); }
  to {
    transform: translate(83.2132vw, 100vh) scale(0.4431); } }
  .snow:nth-child(151) {
    opacity: 0.8444;
    transform: translate(82.9383vw, -10px) scale(0.001);
    animation: fall-151 21s -2s linear infinite; }

@keyframes fall-151 {
  70.643% {
    transform: translate(85.8254vw, 70.643vh) scale(0.001); }
  to {
    transform: translate(84.38185vw, 100vh) scale(0.001); } }
  .snow:nth-child(152) {
    opacity: 0.3331;
    transform: translate(63.1477vw, -10px) scale(0.4734);
    animation: fall-152 28s -24s linear infinite; }

@keyframes fall-152 {
  33.284% {
    transform: translate(56.303vw, 33.284vh) scale(0.4734); }
  to {
    transform: translate(59.72535vw, 100vh) scale(0.4734); } }
  .snow:nth-child(153) {
    opacity: 0.3742;
    transform: translate(42.5621vw, -10px) scale(0.933);
    animation: fall-153 12s -23s linear infinite; }

@keyframes fall-153 {
  75.741% {
    transform: translate(37.9781vw, 75.741vh) scale(0.933); }
  to {
    transform: translate(40.2701vw, 100vh) scale(0.933); } }
  .snow:nth-child(154) {
    opacity: 0.7333;
    transform: translate(14.515vw, -10px) scale(0.3269);
    animation: fall-154 21s -1s linear infinite; }

@keyframes fall-154 {
  56.214% {
    transform: translate(18.9767vw, 56.214vh) scale(0.3269); }
  to {
    transform: translate(16.74585vw, 100vh) scale(0.3269); } }
  .snow:nth-child(155) {
    opacity: 0.6973;
    transform: translate(19.7795vw, -10px) scale(0.6006);
    animation: fall-155 10s -22s linear infinite; }

@keyframes fall-155 {
  55.472% {
    transform: translate(20.0412vw, 55.472vh) scale(0.6006); }
  to {
    transform: translate(19.91035vw, 100vh) scale(0.6006); } }
  .snow:nth-child(156) {
    opacity: 0.5455;
    transform: translate(87.8563vw, -10px) scale(0.2828);
    animation: fall-156 17s -17s linear infinite; }

@keyframes fall-156 {
  52.281% {
    transform: translate(83.0981vw, 52.281vh) scale(0.2828); }
  to {
    transform: translate(85.4772vw, 100vh) scale(0.2828); } }
  .snow:nth-child(157) {
    opacity: 0.5713;
    transform: translate(10.7852vw, -10px) scale(0.2844);
    animation: fall-157 23s -9s linear infinite; }

@keyframes fall-157 {
  43.737% {
    transform: translate(2.2365vw, 43.737vh) scale(0.2844); }
  to {
    transform: translate(6.51085vw, 100vh) scale(0.2844); } }
  .snow:nth-child(158) {
    opacity: 0.5677;
    transform: translate(60.7921vw, -10px) scale(0.8395);
    animation: fall-158 13s -27s linear infinite; }

@keyframes fall-158 {
  31.291% {
    transform: translate(69.9792vw, 31.291vh) scale(0.8395); }
  to {
    transform: translate(65.38565vw, 100vh) scale(0.8395); } }
  .snow:nth-child(159) {
    opacity: 0.4949;
    transform: translate(89.6514vw, -10px) scale(0.3378);
    animation: fall-159 13s -26s linear infinite; }

@keyframes fall-159 {
  70.848% {
    transform: translate(86.2163vw, 70.848vh) scale(0.3378); }
  to {
    transform: translate(87.93385vw, 100vh) scale(0.3378); } }
  .snow:nth-child(160) {
    opacity: 0.2964;
    transform: translate(68.1743vw, -10px) scale(0.3192);
    animation: fall-160 10s -18s linear infinite; }

@keyframes fall-160 {
  36.708% {
    transform: translate(62.1937vw, 36.708vh) scale(0.3192); }
  to {
    transform: translate(65.184vw, 100vh) scale(0.3192); } }
  .snow:nth-child(161) {
    opacity: 0.7382;
    transform: translate(7.8538vw, -10px) scale(0.3906);
    animation: fall-161 25s -6s linear infinite; }

@keyframes fall-161 {
  30.165% {
    transform: translate(2.9974vw, 30.165vh) scale(0.3906); }
  to {
    transform: translate(5.4256vw, 100vh) scale(0.3906); } }
  .snow:nth-child(162) {
    opacity: 0.8931;
    transform: translate(19.4085vw, -10px) scale(0.1455);
    animation: fall-162 24s -14s linear infinite; }

@keyframes fall-162 {
  60.313% {
    transform: translate(27.6062vw, 60.313vh) scale(0.1455); }
  to {
    transform: translate(23.50735vw, 100vh) scale(0.1455); } }
  .snow:nth-child(163) {
    opacity: 0.3921;
    transform: translate(42.0947vw, -10px) scale(0.3667);
    animation: fall-163 27s -15s linear infinite; }

@keyframes fall-163 {
  70.284% {
    transform: translate(42.3308vw, 70.284vh) scale(0.3667); }
  to {
    transform: translate(42.21275vw, 100vh) scale(0.3667); } }
  .snow:nth-child(164) {
    opacity: 0.0827;
    transform: translate(92.5596vw, -10px) scale(0.368);
    animation: fall-164 16s -6s linear infinite; }

@keyframes fall-164 {
  73.827% {
    transform: translate(88.2523vw, 73.827vh) scale(0.368); }
  to {
    transform: translate(90.40595vw, 100vh) scale(0.368); } }
  .snow:nth-child(165) {
    opacity: 0.5444;
    transform: translate(70.4134vw, -10px) scale(0.7302);
    animation: fall-165 24s -25s linear infinite; }

@keyframes fall-165 {
  49.977% {
    transform: translate(76.8836vw, 49.977vh) scale(0.7302); }
  to {
    transform: translate(73.6485vw, 100vh) scale(0.7302); } }
  .snow:nth-child(166) {
    opacity: 0.2143;
    transform: translate(33.344vw, -10px) scale(0.9632);
    animation: fall-166 12s -13s linear infinite; }

@keyframes fall-166 {
  66.715% {
    transform: translate(33.4122vw, 66.715vh) scale(0.9632); }
  to {
    transform: translate(33.3781vw, 100vh) scale(0.9632); } }
  .snow:nth-child(167) {
    opacity: 0.0229;
    transform: translate(5.5046vw, -10px) scale(0.835);
    animation: fall-167 13s -22s linear infinite; }

@keyframes fall-167 {
  72.399% {
    transform: translate(12.5985vw, 72.399vh) scale(0.835); }
  to {
    transform: translate(9.05155vw, 100vh) scale(0.835); } }
  .snow:nth-child(168) {
    opacity: 0.6234;
    transform: translate(67.8754vw, -10px) scale(0.1835);
    animation: fall-168 20s -25s linear infinite; }

@keyframes fall-168 {
  50.24% {
    transform: translate(62.0544vw, 50.24vh) scale(0.1835); }
  to {
    transform: translate(64.9649vw, 100vh) scale(0.1835); } }
  .snow:nth-child(169) {
    opacity: 0.1935;
    transform: translate(94.7662vw, -10px) scale(0.6492);
    animation: fall-169 29s -7s linear infinite; }

@keyframes fall-169 {
  44.743% {
    transform: translate(98.375vw, 44.743vh) scale(0.6492); }
  to {
    transform: translate(96.5706vw, 100vh) scale(0.6492); } }
  .snow:nth-child(170) {
    opacity: 0.6592;
    transform: translate(10.5407vw, -10px) scale(0.7846);
    animation: fall-170 20s -1s linear infinite; }

@keyframes fall-170 {
  63.767% {
    transform: translate(3.137vw, 63.767vh) scale(0.7846); }
  to {
    transform: translate(6.83885vw, 100vh) scale(0.7846); } }
  .snow:nth-child(171) {
    opacity: 0.2783;
    transform: translate(58.8357vw, -10px) scale(0.5526);
    animation: fall-171 25s -1s linear infinite; }

@keyframes fall-171 {
  68.068% {
    transform: translate(59.6492vw, 68.068vh) scale(0.5526); }
  to {
    transform: translate(59.24245vw, 100vh) scale(0.5526); } }
  .snow:nth-child(172) {
    opacity: 0.8026;
    transform: translate(92.1487vw, -10px) scale(0.1321);
    animation: fall-172 26s -30s linear infinite; }

@keyframes fall-172 {
  46.633% {
    transform: translate(90.3902vw, 46.633vh) scale(0.1321); }
  to {
    transform: translate(91.26945vw, 100vh) scale(0.1321); } }
  .snow:nth-child(173) {
    opacity: 0.7043;
    transform: translate(32.3025vw, -10px) scale(0.4608);
    animation: fall-173 13s -17s linear infinite; }

@keyframes fall-173 {
  50.855% {
    transform: translate(28.1707vw, 50.855vh) scale(0.4608); }
  to {
    transform: translate(30.2366vw, 100vh) scale(0.4608); } }
  .snow:nth-child(174) {
    opacity: 0.3163;
    transform: translate(29.2968vw, -10px) scale(0.4143);
    animation: fall-174 17s -7s linear infinite; }

@keyframes fall-174 {
  48.669% {
    transform: translate(37.3983vw, 48.669vh) scale(0.4143); }
  to {
    transform: translate(33.34755vw, 100vh) scale(0.4143); } }
  .snow:nth-child(175) {
    opacity: 0.2688;
    transform: translate(50.7638vw, -10px) scale(0.2093);
    animation: fall-175 21s -26s linear infinite; }

@keyframes fall-175 {
  35.712% {
    transform: translate(43.6369vw, 35.712vh) scale(0.2093); }
  to {
    transform: translate(47.20035vw, 100vh) scale(0.2093); } }
  .snow:nth-child(176) {
    opacity: 0.9199;
    transform: translate(11.8922vw, -10px) scale(0.2598);
    animation: fall-176 13s -24s linear infinite; }

@keyframes fall-176 {
  72.965% {
    transform: translate(10.3409vw, 72.965vh) scale(0.2598); }
  to {
    transform: translate(11.11655vw, 100vh) scale(0.2598); } }
  .snow:nth-child(177) {
    opacity: 0.8892;
    transform: translate(93.7135vw, -10px) scale(0.1397);
    animation: fall-177 14s -30s linear infinite; }

@keyframes fall-177 {
  71.958% {
    transform: translate(97.739vw, 71.958vh) scale(0.1397); }
  to {
    transform: translate(95.72625vw, 100vh) scale(0.1397); } }
  .snow:nth-child(178) {
    opacity: 0.7977;
    transform: translate(86.285vw, -10px) scale(0.651);
    animation: fall-178 25s -24s linear infinite; }

@keyframes fall-178 {
  45.975% {
    transform: translate(81.1747vw, 45.975vh) scale(0.651); }
  to {
    transform: translate(83.72985vw, 100vh) scale(0.651); } }
  .snow:nth-child(179) {
    opacity: 0.9212;
    transform: translate(71.062vw, -10px) scale(0.9115);
    animation: fall-179 30s -30s linear infinite; }

@keyframes fall-179 {
  56.764% {
    transform: translate(69.7601vw, 56.764vh) scale(0.9115); }
  to {
    transform: translate(70.41105vw, 100vh) scale(0.9115); } }
  .snow:nth-child(180) {
    opacity: 0.9697;
    transform: translate(9.7351vw, -10px) scale(0.1007);
    animation: fall-180 26s -11s linear infinite; }

@keyframes fall-180 {
  54.337% {
    transform: translate(5.8862vw, 54.337vh) scale(0.1007); }
  to {
    transform: translate(7.81065vw, 100vh) scale(0.1007); } }
  .snow:nth-child(181) {
    opacity: 0.0308;
    transform: translate(98.2578vw, -10px) scale(0.1342);
    animation: fall-181 18s -9s linear infinite; }

@keyframes fall-181 {
  62.144% {
    transform: translate(101.7847vw, 62.144vh) scale(0.1342); }
  to {
    transform: translate(100.02125vw, 100vh) scale(0.1342); } }
  .snow:nth-child(182) {
    opacity: 0.0018;
    transform: translate(63.4988vw, -10px) scale(0.9239);
    animation: fall-182 27s -6s linear infinite; }

@keyframes fall-182 {
  39.15% {
    transform: translate(54.019vw, 39.15vh) scale(0.9239); }
  to {
    transform: translate(58.7589vw, 100vh) scale(0.9239); } }
  .snow:nth-child(183) {
    opacity: 0.7582;
    transform: translate(91.8339vw, -10px) scale(0.7094);
    animation: fall-183 15s -30s linear infinite; }

@keyframes fall-183 {
  51.044% {
    transform: translate(95.9408vw, 51.044vh) scale(0.7094); }
  to {
    transform: translate(93.88735vw, 100vh) scale(0.7094); } }
  .snow:nth-child(184) {
    opacity: 0.2505;
    transform: translate(66.4035vw, -10px) scale(0.8053);
    animation: fall-184 11s -13s linear infinite; }

@keyframes fall-184 {
  31.883% {
    transform: translate(66.8776vw, 31.883vh) scale(0.8053); }
  to {
    transform: translate(66.64055vw, 100vh) scale(0.8053); } }
  .snow:nth-child(185) {
    opacity: 0.5599;
    transform: translate(78.5043vw, -10px) scale(0.4991);
    animation: fall-185 24s -15s linear infinite; }

@keyframes fall-185 {
  49.117% {
    transform: translate(85.9228vw, 49.117vh) scale(0.4991); }
  to {
    transform: translate(82.21355vw, 100vh) scale(0.4991); } }
  .snow:nth-child(186) {
    opacity: 0.8377;
    transform: translate(53.0443vw, -10px) scale(0.6042);
    animation: fall-186 18s -30s linear infinite; }

@keyframes fall-186 {
  54.686% {
    transform: translate(49.2781vw, 54.686vh) scale(0.6042); }
  to {
    transform: translate(51.1612vw, 100vh) scale(0.6042); } }
  .snow:nth-child(187) {
    opacity: 0.0359;
    transform: translate(2.4815vw, -10px) scale(0.744);
    animation: fall-187 15s -8s linear infinite; }

@keyframes fall-187 {
  63.402% {
    transform: translate(7.5406vw, 63.402vh) scale(0.744); }
  to {
    transform: translate(5.01105vw, 100vh) scale(0.744); } }
  .snow:nth-child(188) {
    opacity: 0.577;
    transform: translate(24.5763vw, -10px) scale(0.7537);
    animation: fall-188 15s -22s linear infinite; }

@keyframes fall-188 {
  46.219% {
    transform: translate(25.4304vw, 46.219vh) scale(0.7537); }
  to {
    transform: translate(25.00335vw, 100vh) scale(0.7537); } }
  .snow:nth-child(189) {
    opacity: 0.1561;
    transform: translate(58.9719vw, -10px) scale(0.4682);
    animation: fall-189 21s -9s linear infinite; }

@keyframes fall-189 {
  61.927% {
    transform: translate(68.4654vw, 61.927vh) scale(0.4682); }
  to {
    transform: translate(63.71865vw, 100vh) scale(0.4682); } }
  .snow:nth-child(190) {
    opacity: 0.5959;
    transform: translate(30.0269vw, -10px) scale(0.4946);
    animation: fall-190 15s -9s linear infinite; }

@keyframes fall-190 {
  62.231% {
    transform: translate(36.3658vw, 62.231vh) scale(0.4946); }
  to {
    transform: translate(33.19635vw, 100vh) scale(0.4946); } }
  .snow:nth-child(191) {
    opacity: 0.0881;
    transform: translate(82.843vw, -10px) scale(0.9984);
    animation: fall-191 18s -10s linear infinite; }

@keyframes fall-191 {
  73.635% {
    transform: translate(75.217vw, 73.635vh) scale(0.9984); }
  to {
    transform: translate(79.03vw, 100vh) scale(0.9984); } }
  .snow:nth-child(192) {
    opacity: 0.3628;
    transform: translate(23.5416vw, -10px) scale(0.1312);
    animation: fall-192 14s -19s linear infinite; }

@keyframes fall-192 {
  49.056% {
    transform: translate(22.507vw, 49.056vh) scale(0.1312); }
  to {
    transform: translate(23.0243vw, 100vh) scale(0.1312); } }
  .snow:nth-child(193) {
    opacity: 0.3285;
    transform: translate(84.1986vw, -10px) scale(0.1382);
    animation: fall-193 23s -20s linear infinite; }

@keyframes fall-193 {
  79.476% {
    transform: translate(82.3326vw, 79.476vh) scale(0.1382); }
  to {
    transform: translate(83.2656vw, 100vh) scale(0.1382); } }
  .snow:nth-child(194) {
    opacity: 0.5543;
    transform: translate(4.5604vw, -10px) scale(0.4707);
    animation: fall-194 27s -18s linear infinite; }

@keyframes fall-194 {
  77.696% {
    transform: translate(4.2623vw, 77.696vh) scale(0.4707); }
  to {
    transform: translate(4.41135vw, 100vh) scale(0.4707); } }
  .snow:nth-child(195) {
    opacity: 0.3171;
    transform: translate(71.5382vw, -10px) scale(0.9946);
    animation: fall-195 18s -29s linear infinite; }

@keyframes fall-195 {
  37.378% {
    transform: translate(65.8145vw, 37.378vh) scale(0.9946); }
  to {
    transform: translate(68.67635vw, 100vh) scale(0.9946); } }
  .snow:nth-child(196) {
    opacity: 0.6368;
    transform: translate(11.0993vw, -10px) scale(0.8597);
    animation: fall-196 13s -11s linear infinite; }

@keyframes fall-196 {
  69.204% {
    transform: translate(12.0349vw, 69.204vh) scale(0.8597); }
  to {
    transform: translate(11.5671vw, 100vh) scale(0.8597); } }
  .snow:nth-child(197) {
    opacity: 0.3168;
    transform: translate(62.1245vw, -10px) scale(0.814);
    animation: fall-197 13s -25s linear infinite; }

@keyframes fall-197 {
  73.188% {
    transform: translate(65.2019vw, 73.188vh) scale(0.814); }
  to {
    transform: translate(63.6632vw, 100vh) scale(0.814); } }
  .snow:nth-child(198) {
    opacity: 0.2116;
    transform: translate(48.6699vw, -10px) scale(0.7129);
    animation: fall-198 26s -20s linear infinite; }

@keyframes fall-198 {
  67.27% {
    transform: translate(45.6698vw, 67.27vh) scale(0.7129); }
  to {
    transform: translate(47.16985vw, 100vh) scale(0.7129); } }
  .snow:nth-child(199) {
    opacity: 0.2083;
    transform: translate(74.0382vw, -10px) scale(0.0366);
    animation: fall-199 28s -6s linear infinite; }

@keyframes fall-199 {
  69.675% {
    transform: translate(67.0711vw, 69.675vh) scale(0.0366); }
  to {
    transform: translate(70.55465vw, 100vh) scale(0.0366); } }
  .snow:nth-child(200) {
    opacity: 0.8727;
    transform: translate(43.7479vw, -10px) scale(0.4531);
    animation: fall-200 30s -24s linear infinite; }

@keyframes fall-200 {
  63.501% {
    transform: translate(52.4483vw, 63.501vh) scale(0.4531); }
  to {
    transform: translate(48.0981vw, 100vh) scale(0.4531); } }
