* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

.todo-app {
  max-width: 400px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}

/*header*/
.input-todo {
  flex-grow: 1;
}

/*todo*/
.list-todos {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0 0.2em;
}

.todo-description {
  flex-grow: 1;
  min-width: 1%;
}

/*footer */
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.status-todos {
  flex-grow: 1;
  margin-right: 0.4em;
  font-size: 0.9em;
}

.footer-buttons {
  justify-self: center;
}

.empty {
  flex-grow: 2;
}
